<router-outlet></router-outlet>

<h1 class="card">Newsletter</h1>

<mat-card class="card">
    <mat-card-header>
      <mat-card-title>HELPDESK HDN BOMBAS</mat-card-title>
      <mat-card-subtitle class="fontes">Saulo</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Olá! Seja bem vindo ao sistema Help Desk desenvolvido pelo time de TI da HDN BOMBAS<br />
            Esse é um sistema para gerenciamento de chamados um simples Help Desk desenvolvido em Angular 12 e
            Spring Boot 3.<br/>O sistema está rodando na nuvem sendo o front na Vercel e o back na Heroku.<br/>
            O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
            Tokens JWT e muito mais.
        </p>git
    </mat-card-content>
  </mat-card>